<a href="https://colab.research.google.com/github/KIMMOOKYONG/COLAB-NOTENOOK/blob/main/pandas_ta%EC%82%AC%EC%9A%A9%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NOTE

- TA-Lib, Python wrapper for TA-Lib (http://ta-lib.org/).
- http://mrjbq7.github.io/ta-lib/

- TA Lib must be installed to use all the Candlestick Patterns.
- pip install TA-Lib.
- If TA Lib is not installed, then only the builtin Candlestick Patterns will be available.

# 참조

- https://pythonlang.dev/repo/twopirllc-pandas-ta/

# 모듈 설치

In [ ]:
!pip install yfinance

In [ ]:
!pip install pandas_ta

In [ ]:
!wget http://prdownloads.sourceforge.net/ta-lib/ta-lib-0.4.0-src.tar.gz
!tar -xzvf ta-lib-0.4.0-src.tar.gz
%cd ta-lib
!./configure --prefix=/usr
!make
!make install
!pip install Ta-Lib

# 라이브러리 로딩

In [5]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
import talib
import warnings
warnings.filterwarnings("ignore")

# 데이터 다운로드

In [6]:
# 주가 데이터 다운로드 및 이동평균 칼럼 초기화
data = yf.download("AAPL", start="2020-01-01")
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  73.785912  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  73.068565  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  73.650780  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  73.304405  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  74.483604  132079200

# 단순이동평균계산

## pandas_ta 직접 참조 방식

In [11]:
# pandas 프레임 사용하지 않는 경우, 임의 칼럼에 대해서 이동평균 계산이 가능하다.
# 계산할 칼럼을 임의로 설정 가능
sma = ta.sma(close=data["Close"], length=2, offset=None)
data.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_2,SMA_20
Date,,,,,,,,
2020-01-02,74.059998,75.150002,73.797501,75.087502,73.785912,135480400,NaN,NaN
2020-01-03,74.287498,75.144997,74.125000,74.357498,73.068565,146322800,74.722500,NaN
2020-01-06,73.447502,74.989998,73.187500,74.949997,73.650780,118387200,74.653748,NaN
2020-01-07,74.959999,75.224998,74.370003,74.597504,73.304405,108872000,74.773750,NaN
2020-01-08,74.290001,76.110001,74.290001,75.797501,74.483604,132079200,75.197502,NaN

## dataframe pandas-ta 간접 참조 방법

In [12]:
# PANDAS-TA 라이브러리를 적용하려면, 반드시 데이터 칼럼구조가 OHLC 구조를 가져야 한다.
# 모든 계산에 대해서 참조하는 값은 Close 칼럼이다.
data.ta.sma(length=20, offset=None, append=True)
data.dropna().head()

,Open,High,Low,Close,Adj Close,Volume,SMA_2,SMA_20
Date,,,,,,,,
2020-01-30,80.135002,81.022499,79.687500,80.967499,79.563995,126743200,81.026249,78.009125
2020-01-31,80.232498,80.669998,77.072502,77.377502,76.036217,199588400,79.172501,78.123625
2020-02-03,76.074997,78.372498,75.555000,77.165001,75.827400,173788400,77.271252,78.264000
2020-02-04,78.827499,79.910004,78.407501,79.712502,78.330750,136616400,78.438751,78.502126
2020-02-05,80.879997,81.190002,79.737503,80.362503,78.969482,118826800,80.037502,78.790376