<a href="https://colab.research.google.com/github/KIMMOOKYONG/COLAB-NOTENOOK/blob/main/%EC%8A%A4%EB%85%B8%EC%9A%B0%ED%94%8C%EB%A0%88%EC%9D%B4%ED%81%AC%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%97%B0%EB%8F%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.7.13

In [ ]:
!sudo apt-get install -y libssl-dev libffi-dev

# Step 1: Install the Connector

In [4]:
!pip install snowflake-connector-python==2.7.6

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snowflake-connector-python==2.7.6
  Downloading snowflake_connector_python-2.7.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
     |████████████████████████████████| 16.5 MB 149 kB/s
Collecting cryptography<37.0.0,>=3.1.0
  Downloading cryptography-36.0.2-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 38.3 MB/s
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (2.10)
Collecting pyOpenSSL<22.0.0,>=16.2.0
  Downloading pyOpenSSL-21.0.0-py2.py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.2 MB/s
Collecting pycryptodomex!=3.5.0,<4.0.0,>=3.2
  Downloading pycryptodomex-3.15.0-cp35-abi3-manylinux2010_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 40.2 MB/s
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (2.23.0)
Collecting pyjwt<3.0.0
  Downloading PyJWT-2.4.0-py3-none-any.whl (18 kB)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (1.15.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (2022.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (2022.6.15)
Requirement already satisfied: setuptools>34.0.0 in /usr/local/lib/python3.7/dist-packages (from snowflake-connector-python==2.7.6) (57.4.0)
Collecting oscrypto<2.0.0
  Downloading oscrypto-1.3.0-py2.py3-none-any.whl (194 kB)
     |████████████████████████████████| 194 kB 65.0 MB/s
Collecting asn1crypto<2.0.0,>0.24.0
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     |████████████████████████████████| 105 kB 44.6 MB/s
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python==2.7.6) (2.21)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from pyOpenSSL<22.0.0,>=16.2.0->snowflake-connector-python==2.7.6) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python==2.7.6) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0->snowflake-connector-python==2.7.6) (1.24.3)
Installing collected packages: cryptography, asn1crypto, pyOpenSSL, pyjwt, pycryptodomex, oscrypto, snowflake-connector-python
Successfully installed asn1crypto-1.5.1 cryptography-36.0.2 oscrypto-1.3.0 pyOpenSSL-21.0.0 pycryptodomex-3.15.0 pyjwt-2.4.0 snowflake-connector-python-2.7.6

# Step 2: Verify Your Installation

In [9]:
import snowflake.connector

ctx = snowflake.connector.connect(
    user="****",
    password="****",
    account="****",
    warehouse="compute_wh",
    database="EMPLOYEES",
    schema="public"
)

cs = ctx.cursor()
try:
    cs.execute("SELECT current_version()")
    one_row = cs.fetchone()
    print(one_row[0])
finally:
    cs.close()

# ctx.close()

6.21.0

# Step 3: Specify a Temporary Directory

In [ ]:
!mkdir /content/tmp

In [8]:
!export TMPDIR=/content/tmp

# Step 4: DB 연동 테스트

In [10]:
import snowflake.connector

conn = snowflake.connector.connect(
    user="dharma6872",
    password="0084Khmk!))",
    account="fp41225.ap-northeast-2.aws",
    warehouse="compute_wh",
    database="EMPLOYEES",
    schema="public"
)

cur = conn.cursor().execute("select * from departments")
try:
    for (dept_no, dept_name) in cur:
        print("{0}, {1}".format(dept_no, dept_name))
finally:
    cur.close()

d001, Marketing
d002, Finance
d003, Human Resources
d004, Production
d005, Development
d006, Quality Management
d007, Sales
d008, Research
d009, Customer Service

In [14]:
import snowflake.connector

conn = snowflake.connector.connect(
    user="dharma6872",
    password="0084Khmk!))",
    account="fp41225.ap-northeast-2.aws",
    warehouse="compute_wh",
    database="EMPLOYEES",
    schema="public"
)

In [16]:
cur = conn.cursor().execute("select * from dept_manager")
try:
    for (emp_no, dept_no, from_date, to_date) in cur:
        print("{0}, {1}, {2}, {3}".format(emp_no, dept_no, from_date, to_date))
finally:
    cur.close()

110022, d001, 1985-01-01, 1991-10-01
110039, d001, 1991-10-01, 9999-01-01
110085, d002, 1985-01-01, 1989-12-17
110114, d002, 1989-12-17, 9999-01-01
110183, d003, 1985-01-01, 1992-03-21
110228, d003, 1992-03-21, 9999-01-01
110303, d004, 1985-01-01, 1988-09-09
110344, d004, 1988-09-09, 1992-08-02
110386, d004, 1992-08-02, 1996-08-30
110420, d004, 1996-08-30, 9999-01-01
110511, d005, 1985-01-01, 1992-04-25
110567, d005, 1992-04-25, 9999-01-01
110725, d006, 1985-01-01, 1989-05-06
110765, d006, 1989-05-06, 1991-09-12
110800, d006, 1991-09-12, 1994-06-28
110854, d006, 1994-06-28, 9999-01-01
111035, d007, 1985-01-01, 1991-03-07
111133, d007, 1991-03-07, 9999-01-01
111400, d008, 1985-01-01, 1991-04-08
111534, d008, 1991-04-08, 9999-01-01
111692, d009, 1985-01-01, 1988-10-17
111784, d009, 1988-10-17, 1992-09-08
111877, d009, 1992-09-08, 1996-01-03
111939, d009, 1996-01-03, 9999-01-01

In [19]:
import pandas as pd

sql = "show tables;"
df = pd.read_sql(sql, conn)
df

,created_on,name,database_name,schema_name,kind,comment,cluster_by,rows,bytes,owner,retention_time,automatic_clustering,change_tracking,search_optimization,search_optimization_progress,search_optimization_bytes,is_external
0,2022-06-07 09:12:40.195000+00:00,DEPARTMENTS,EMPLOYEES,PUBLIC,TABLE,,,9,1536,SYSADMIN,1,OFF,OFF,OFF,None,None,N
1,2022-06-06 03:06:16.195000+00:00,DEPT_EMP,EMPLOYEES,PUBLIC,TABLE,,,331603,2445312,SYSADMIN,1,OFF,OFF,OFF,None,None,N
2,2022-06-06 03:05:42.434000+00:00,DEPT_MANAGER,EMPLOYEES,PUBLIC,TABLE,,,24,2048,SYSADMIN,1,OFF,OFF,OFF,None,None,N
3,2022-06-06 03:01:04.289000+00:00,EMPLOYEES,EMPLOYEES,PUBLIC,TABLE,,,300024,4431872,SYSADMIN,1,OFF,OFF,OFF,None,None,N
4,2022-06-06 03:06:33.248000+00:00,SALARIES,EMPLOYEES,PUBLIC,TABLE,,,2844047,21235712,SYSADMIN,1,OFF,OFF,OFF,None,None,N
5,2022-06-06 03:06:25.519000+00:00,TITLES,EMPLOYEES,PUBLIC,TABLE,,,443308,3655680,SYSADMIN,1,OFF,OFF,OFF,None,None,N

In [20]:
conn.close()